*{
    font-family:'Courier New', Courier, monospace;
}

body{
    display: flex;
    justify-content: center;
    background-color: darkgray;
    /*border: 1px solid black;*/
    height: 30em;
}

main{
    background-color: whitesmoke;
    margin-top: 100px;
    box-shadow: -10px 10px 15px rgba(0,0,0,0.3);
    border-radius: 50px;
    height: 20%;
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content:left;
    
}

h2{
    font-weight: bold;
    max-width: 60%;
    padding-left: 40px;
}

span{
    font-size: larger;
}